body {
    font-family: Arial, sans-serif;
    background-color: #0f0101;
    margin: 0;
    padding: 20px;
}

.idioma-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #d90eb7;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(187, 2, 175, 0.1);
}

h1 {
    text-align: center;
    color:  black;
}

.idioma-item {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: rgb(64, 7, 82)
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(64, 7, 82);
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #810462;
    color: rgb(64, 7, 82);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7b0357;
}
