body {
    font-family: Arial, sans-serif;
    background-color: #0f0101;
    margin: 0;
    padding: 20px;
}

.privacidade-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #eb0bc5;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(241, 3, 217, 0.1);
}

h1 {
    text-align: center;
    color: black;
}

.privacidade-item {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #ae06a0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #98096f;
}
